<ion-header>
  <ion-toolbar>
    <ion-title>
      Apple
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/app-store.svg" alt="" />
    </ion-card>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://developer.apple.com">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Apple developper</ion-label>
    </ion-item>
    <ion-item href="https://itunesconnect.apple.com">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Itunes connect</ion-label>
    </ion-item>
    <ion-item href="https://developer.apple.com/app-store/review/guidelines/">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Apple guidelines</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
