<ion-header>
  <ion-toolbar>
    <ion-title>
      Instructions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/logo-cpnv.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>CPNV</ion-card-subtitle>
        <ion-card-title>Application de formation</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Voici l'application de test que nous allons deployer sur les stores ainsi que sur vos mobiles respectifs</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://docs.appmanager.io/docs/metadata">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Application metadata</ion-label>
      </ion-item>
      <ion-item href="https://docs.appmanager.io/docs/screenshot-sizes">
        <ion-icon slot="start" color="medium" name="phone-portrait"></ion-icon>
        <ion-label>Application screenshot size</ion-label>
      </ion-item>
      <ion-item href="https://get.fabric.io">
        <ion-icon slot="start" color="medium" name="cog"></ion-icon>
        <ion-label>Fabric</ion-label>
      </ion-item>
      <ion-item href="https://console.firebase.google.com">
        <ion-icon slot="start" color="medium" name="cog"></ion-icon>
        <ion-label>Firebase</ion-label>
      </ion-item>



      
    </ion-list>
</ion-content>
